<html>
   <head>
      <title><%= post.title %> History - theStack!</title>
      <%= erb :includes %>
   </head>
   <body>
      <div id="cont">
         <%= erb(:header, :locals => {:search => "" }) %>

         <div id="main" class="clearfix">
            <div>
               <a href="/view/<%= post.postid %>">Back to the post...</a>
            </div>
            <% for item in posts %>
               <div class="hist">
                  <div class="title"><%= item.diff_title %></div>
                  <div class="body"><%= item.diff_text %></div>
                  <div class="tags"> Tags: <%= item.diff_tags %> </div>
                  <div class="meta"><%= item.nice_date %></div>
               </div>
            <% end %>
         </div>

         <%= erb :footer %>
      </div>
   </body>
</html>
