<html>
   <head>
      <title><%= post.title %> > theStack!</title>
      <%= erb :includes %> 
   </head>
   <body>
      <div id="cont">
         <%= erb(:header, :locals => {:search => "" }) %> 

         <div id="main" class="clearfix">
            <h2><%= post.title %></h2>
            <div class="markdown">
               <%= post.nice_text %>
            </div>
            <div class="meta">
               <a href="/edit/<%= post.postid %>">edit</a> &sdot; 
               <a href="/history/<%= post.postid %>">history</a> &mdash;
               <%= post.nice_date %>, <%= post.size %>.
            </div>

            <h2 id="recent">Most recent thoughts</h2>
            <%= erb(:thoughts, :locals => {:posts => posts}) %> 
         </div>

         <%= erb :footer %> 
      </div>
   </body>
</html>
