<html>
   <head>
      <title><%= post.title %> > theStack!</title>
      <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js"></script>
      <script type="text/javascript" src="/stack.js"></script>
   </head>
   <body>
      <div id="cont">
         <%= erb(:header, :locals => {:search => "" }) %> 

         <div id="main" class="clearfix">
            <h2><%= post.title %></h2>
            <div class="markdown">
               <%= post.nice_text %>
            </div>
            <div class="meta">
               <%= post.nice_date %>, <%= post.size %>.
            </div>

            <h2 id="recent">Most recent thoughts</h2>
            <%= erb(:thoughts, :locals => {:posts => posts}) %> 
         </div>

         <%= erb :footer %> 
      </div>
   </body>
</html>
