<html>
   <head>
      <title><%= post.title %> > theStack!</title>
      <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="/stack.js"></script>
   </head>
   <body>
      <div id="cont">
         <%= erb :header %> 

         <div id="homeLink">
            <a href="/">Go Home ...</a>
         </div>

         <div id="main" class="clearfix">
            <h3><%= post.title %></h3>
            <div class="markdown">
               <%= post.nice_text %>
            </div>
         </div>

         <%= erb(:thoughts, :locals => {:posts => posts}) %> 

         <%= erb :footer %> 
      </div>
   </body>
</html>
